h1{

   text-align: center;
}
textarea{
    resize:none;
    width: 100%;
    border:1px solid white;
    outline:none;
}
# id{
text-align:center;
}


#output{
    padding-left: 5px;
    border: 1px solid white; 
    width:100%;
}
#string {
color:silver;
text-align: left;
}
#columnright{
    border: 1px solid white; 
    padding-left: 1px;
    padding-right: 2px ;
    font-family:'century gothic';

}
#resources{
    border:1px solid white;
    padding-left: 10px;
    font-family:'century gothic';
}
@media (min-width: 1500px) {
    .container-fluid{
    max-width:1800px;
    }
}
#leftcolumn (min-height: 600px) {
   .container-fluid{
   max-height:830px;
   }
}
#middlecolumn (min-height: 430px) {
  .container-fluid{
    max-height:660px;
    }
}
#rightcolumn1 (min-height: 275px) {
    .container-fluid{
    max-height:390px;
    }
}
#rightcolumn2 (min-height: 275px) {
    .container-fluid{
    max-height:390px;
    }
}
font{
color: white;
font-family: 'century gothic';
}
footer{
font-family:'century gothic';
color: white;
text-align: center;
}
/* unvisited link */
a:link {
    color: #B8D166;
}

/* visited link */
a:visited {
    color: #93A658;
}
